<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <h3>CrowdFund</h3>
          <p>
            We are an organisation which seeks to help those people who are in
            need. We always are looking forward to the betterment of this world
            and society.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="">Home</a></li>
            <li>
              <i class="ion-ios-arrow-right"></i> <a routerLink="howitworks">How It Works</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i> <a routerLink="donate">Donate</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i>
              <a routerLink="">Terms of service</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            05, Dongri killa, <br />
            425001, Dhule<br />
            India <br />
            <strong>Phone:</strong> +91 9403050201<br />
            <strong>Email:</strong> info@example.com<br />
          </p>

          <div class="social-links">
            <a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="ion-ios-arrow-right"></i> <a routerLink="donate">NGO/Charities</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i> <a routerLink="donate">Health & Care</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i> <a routerLink="donate">Educational</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i> <a routerLink="donate">Other Causes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>CrowdFund 2021</strong>. All Rights Reserved
    </div>
  </div>
</footer>
<!-- #footer -->
