<section id="intro-nav">
  <div class="intro-container">
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="#intro" class="scrollto">CrowdFunding</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="howitworks">How It Works</a></li>
       <!-- <li class="menu-has-children"><a routerLink="donate">Donate</a>
          <ul>
            <li><a routerLink="health">Health & Care</a></li>
            <li><a routerLink="education">Education</a></li>
            <li><a routerLink="ngo">NGO's/Charities</a></li>
            <li><a routerLink="others">Other Causes</a></li>
          </ul>
        </li>
        -->
        <li><a routerLink="donate">Donate</a></li>
        <li><a routerLink="login">Login<i class="fa fa-fw fa-user"></i></a></li> 
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
  </div>

