
    <div class="container" style="text-align: center; padding: 0%;">
        <br>
        <div class="comtainer" style="color: teal;" >
            <h1>How to Use Social Media for Crowdfunding Campaigns</h1>
        </div>
        <br><br><br>
        <div class="row" style="background: white">
            <div class="col-7" style="background: url(../../assets/img/back.jpg); background-size:contain; background-repeat: no-repeat;">

            </div>
            <!-- <div class="col" style="text-align: center;">
                <div class="container" style="background: whitesmoke; padding: 4%; ">
                    <h4 style="font-weight: lighter;">Introducing without any platform fee</h4>
                    <br>
                      <p>Start a fundraiser for free and get maximum funds for the cause you care about</p>
                    <br>
                    <input class="form-control" type="text" placeholder="Full Name" style="border-top: none;border-right: none;border-left: none; background: none; ">
                    <br>
                    <input class="form-control" type="email" placeholder="Email" style="border-top: none;border-right: none;border-left: none; background: none; ">
                    <br>
                    <input class="form-control" type="number" placeholder="Phone" style="border-top: none;border-right: none;border-left: none; background: none; ">
                    <br>
                    <input class="form-control" type="text" placeholder="City" style="border-top: none;border-right: none;border-left: none; background: none; ">
                    <br><br>
                    <button type="button" class="btn btn-success">Get Assistance</button>
                    <br>
                </div>
            </div> -->

        </div>

    </div>
    <div class="container" style="padding: 3%;" >
       <h2 style="color: teal; text-align: center;"  >How does crowdfunding work?</h2>
        <hr style="width: 10%; height: 5px; color: gree;">
  
        <div class="row" >
            <div class="col-3 offset-md-2" style="text-align: center;">
                <img src="../../assets/img/img1.png" alt="">
            </div>
            <div class="col-5" style="text-align: center; padding: 5%;" >
                <div class="container" style="padding:5%;  background: whitesmoke; box-shadow: 1px 10px 10px rgb(218, 216, 216); border-radius: 20px; border-top-left-radius: 0%;">
                    Step 1: Start your free fundraiser.
                </div>
            </div>
            <div class="col-5 offset-md-2" style="text-align: center; padding: 5%;">
                <div class="container" style="padding:5%;  background: whitesmoke; box-shadow: 1px 10px 10px rgb(218, 216, 216); border-radius: 20px; border-top-right-radius: 0%;">
                    Step 2: Share your fundraiser online.
                </div>
            </div>
            <div class="col-3" style=" text-align: center;" >
                <img src="../../assets/img/img1.png" alt="">
            </div>
        </div>
        <div class="row" >
            <div class="col-3 offset-md-2" style="text-align: center;">
                <img src="../../assets/img/img1.png" alt="">
            </div>
            <div class="col-5" style="text-align: center; padding: 5%;" >
                <div class="container" style="padding:5%;  background: whitesmoke; box-shadow: 1px 10px 10px rgb(218, 216, 216); border-radius: 20px; border-top-left-radius: 0%;">
                    Step 3: Receive donations from around the world.
                </div>
            </div>
            <div class="col-5 offset-md-2" style="text-align: center; padding: 5%;">
                <div class="container" style="padding:5%;  background: whitesmoke; box-shadow: 1px 10px 10px rgb(218, 216, 216); border-radius: 20px; border-top-right-radius: 0%;">
                    Step 4: Transfer funds to the need one.
                </div>
            </div>
            <div class="col-3" style=" text-align: center;" >
                <img src="../../assets/img/img1.png" alt="">
            </div>
        </div>

    </div>
    <app-footer></app-footer>
